<?php
// This is just a sample file! Please move it on your local repository to
// db_user.php, which will be ignored by git.

$DB_HOST = "localhost";

// Your local mysql user.
$DB_USER = "root";

// Your local mysql password.
$DB_PASS = "";

// Your local database name
$DB_NAME = "hartapoliticii";
?>
