body {
  font-size: 0.9em;
  line-height: 1.4em;
  font-family: Georgia;
}
#ytcontrols {
  font-size: 0.9em;
  line-height: 1.4em;
  font-family: Georgia;
  text-align: right;
}
#playerwrapper {
  border: 2px solid #444444;
}
.blacktext {
  color: black;
}
.red {
  color: #880000;
}
.green {
  color: #008800;
}
.brightred {
  color: #DD0000;
}
.brightgreen {
  color: #00DD00;
}
.gray,
.gray a {
  color: #999999;
}
.light_gray,
.light_gray a {
  color: #CCC;
}
.dark_gray {
  color: #555;
}
.black {
  color: #000000;
}
.underline {
  border-bottom: 2px dotted #ba0000;
}
#parties_table td {
  padding: 8px;
}
.small {
  font-size: 0.8em;
}
.medium {
  font-size: 0.9em;
}
.big {
  font-size: 1.2em;
}
.menu {
  padding: 8px;
  background-color: #F6F6F6;
  margin: 0;
  font-size: 1.1em;
}
.menu td {
  vertical-align: top;
}
.menu li {
  display: inline;
  background-color: #EEE;
  padding: 5px;
  margin-right: 2px;
  font-weight: bold;
}
.menu .submenu {
  font-size: 14px;
  margin-bottom: 3px;
}
.menu a {
  color: #213f9a;
}
.noprint {
}
.warning {
  width: 800px;
  padding: 10px;
  background: #ffcc66;
  border: 1px #996699;
}
.infotext, .plaintext {
  width: 800px;
  padding: 10px;
  color: #666;
}
.plaintext {
  color: #000;
  font-size: 1.1em;
  line-height: 1.5em;
}
.header {
  font-weight: bold;
  background: #EEEEEE;
  font-size: 1.1em;
}
#q, #declarations_q {
  font-size: 15px;
  padding: 2px;
}
#cauta {
  font-size: 15px;
}

.bigtable .header td {
  padding: 10px;
}
.bigtable td {
  padding: 3px;
}
.title {
  font-family: Georgia;
  font-weight: bold;
  font-size: 20px;
  padding-left: 10px;
  line-height: 1.2em;
}
.info {
  font-size: 1.1em;
}
.moreinfolist li {
  padding:5px;
}
.numedeputattitlu {
  font-size: 20px;
  font-weight: bold;
  display: inline;
}
.separator {
  background: #EEE;
  height: 1px;
}

.identity {
  border: solid 3px #EEE;
  margin-top: 2px;
  padding: 20px;
  background-color: #FAFAFA;
  height: 100%;
}

.identity_li {
  padding: 0;
  margin-left: -20px;
  padding-top: 5px;
}
.identity_ul {
}
.identity_img {
  text-align: center;
}

.top_bar {
  margin: 15px 0 15px 10px;
  background: white;
  /*border-top: solid 1px #DDD;*/
}

.follow_button {
  margin: 5px auto 0 auto;
  width: 118px;
  height: 31px;
  cursor: hand;
  cursor: pointer;
}

.follow_button.follow {
  background: url(/images/follow_button.png);
}
.follow_button.unfollow {
  background: url(/images/follow_button_active.png);
}
.follow_button.unfollow:hover {
  background: url(/images/follow_button_stop.png);
}

.module_red {
  border: solid 3px #ffeeee !important;
}
.module_red .moduletitle {
  border-bottom-color: #ff9999 !important;
}
.module {
  font-size: 1.0em;
  background: #FFF;
  border: solid 3px #EEE;
  padding: 1px;
  margin-top: 2px;
}
.module .moduletitle {
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px;
  color: #369;
  background: #F8F8F8;
  border-bottom-style: solid;
  border-bottom-color: #9CF;
  border-bottom-width: 1px;
}
.module .modulecontent {
  padding: 10px;
  padding-left: 20px;
}

.sidemoduletitle {
  font-size: 1.1em;
  font-weight: bold;
  padding: 2px;
  color: #369;
  border-bottom-style: solid;
  border-bottom-color: #9CF;
  border-bottom-width: 1px;
  padding-top: 12px;
}

.module_expand_link {
  font-size: 0.8em;
  margin-right: 20px;
  margin-left: 15px;
}

.module_expand_link a, .module_expand_link a:visited{
  color: #888;
}

.personrow, .personrow a {
  font-weight: bold;
  text-decoration: none;
  color: #770000;
}
.winnerrow, .winnerrow a {
  font-weight: bold;
  text-decoration: none;
  color: #007700;
}
.othersrow a {
  color: #693;
  text-decoration: none;
}
.othersrow a:hover {
	text-decoration: underline;
}
.candidaterow a {
  color: #0033cc;
  text-decoration: none;
}
.candidaterow a:hover {
	text-decoration: underline;
}
.candidaterow .history_snippet {
  font-size: 13px;
  color: #AAA;
}

.minoritati {
  display: none;
}
.show {
}
.euro_party_info {
  padding-left: 15px;
  padding-bottom: -5px;
  color: #555;
}

.searchresult {
  padding:10px;
}
.searchresult .name {
  font-size:1.2em;
}
.what {
  display: inline-block;
}
.what a {
  color: #AAAAAA;
  text-decoration: none;
}
.what a:hover {
  color: #666666;
}
.searchresult .snippet {
  color:#333;
}
.searchresult .thumb {
  float: left;
  margin-right: 8px;
  width: 22px;
  height: 30px;
}

.submenu {
  font-size: 16px;
  margin-bottom: 15px;
}
.submenu a, .submenu a.visited {
  color: #00C;
}
.submenu a.selected {
  color: #000;
  text-decoration: none;
}
.right {
  text-align: right;
}
#suggest_photo_input {
 width: 90%;
}

/* ----------------------------------------------------- */
/* Classes for the news on the front page. */
.recent_news {
  line-height: 1em;
  font-size: 16px;
}

.recent_news img {
  max-width: 100px;
}

.recent_news_block {
  font-size: 12px;
  margin-bottom: 10px;
}

.recent_news_block .recent_news_title {
  font-size: 14px;
  line-height: 1.3em;
  display: inline;
}

.bigger_news_list .recent_news_title {
  font-size: 15px;
}

.recent_news_block .mentions_block {
  margin-top: 2px;
}

.recent_news_block .black_link a:visited {
  color: #666;
}

.news_list_mention {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 11px;
  display: inline-block;
  padding: 1px;
  padding-right: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
  line-height: 1.1em;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.news_list_mention a {
  text-decoration: none;
  color: #669933;
}
.news_list_mention a:hover {
  text-decoration: underline;
}
.news_list_mention.following {
  background: #ffffcc;
}
.news_list_mention.highlight {
  background: #ccffcc;
}

.invisible_link a {
  text-decoration: none;
  color: black;
}

.recent_news .container {
  border: solid 1px #ddd;
  padding: 4px;
}

/* Icon classes. */
.up_arrow {
  background: #fff url('images/icons.png') no-repeat left center;
  width: 11px;
  height: 11px;
  background-position: -1px -1px
}

.down_arrow {
  background: #fff url('images/icons.png') no-repeat left center;
  width: 11px;
  height: 11px;
  background-position: -1px -12px
}
.black_link, .black_link a {
  color: #000;
  text-decoration: none;
}

.black_link a:hover {
	text-decoration: underline;
}
a.new_link {
  color: #990099 !important;
  text-decoration: underline;
}
a.new_link:hover {
	text-decoration: underline;
}

a.new_link_sel {
  color: #000066 !important;
  text-decoration: none;
}
a.new_link:hover {
	text-decoration: underline;
}

/* The login bar. */
.login_bar {
  font-size: 80%;
}

/** The beliefs system. */
.belief_table {
	font-size: 77%;
	font-weight: bold;
	color: white;
	height: 10px;
}

.belief_total {
  color: black;
  font-weight: bold;
  background-color: #ddd;
  font-size: 77%;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.home_blog_post {
	line-height:normal;
	padding-bottom: 8px;
}

.home_blog_post_comments {
  white-space: nowrap;
}

.green_link a {
	color: #669933;
	text-decoration: none;
}

.green_link a:hover {
	text-decoration: underline;
}

.smalltitle {
	margin-bottom: 0px;
}

.tag_description {
  margin: 10px;
  border: solid 1px #99DD99;
  background: #EEFFEE;
  margin-left: 20px;
  padding: 10px;
}
.score_card_description {
  font-size: 12px;
  color: #999;
  background-color: #f4f4f4;
  margin: -3px 24px 20px 20px;
  padding: 8px;

}

/* -------------------------------------------------------------- */
/* Styles for displaying things under the user's profile -------- */

.my_account {
  margin-top: 20px;
  line-height: 1.6em;
}

.my_account .section {
  margin-bottom: 30px;
}

.my_account .title {
  font-weight: bold;
  border-bottom: solid 1px #EEE;
  font-size: 16px;
  padding-bottom: 4px;
}

.my_account .content {
  margin-left: 20px;
  font-size: 14px;
}

.my_account .example {
  font-size: 14px;
  color: #CCC;
}

.my_account .form_field {
  font-size: 16px;
  margin-bottom: -5px;
}

.my_account td {
  font-size: 14px;
  vertical-align: top;
}

.my_account input {
  font-size: 13px;
  padding: 3px;
}

.my_account #recent_people {
  float: right;
  height: 200px;
  width: 300px;
  font-size: 13px;
  padding: 10px;
}

/* ------------------------------------------------------------------*/
/* Some styles for the cdep/senat mods. */

.parl_presence_number {
  display: inline;
  font-weight: bold;
  background-color: #fff6c3;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 9px;
  font-size: 19px;
}

.parl_summary_panel {
  float:right;
  text-align: right;
  margin: 5px 0 10px 20px;
}

/* ------------------------------------------------------------------*/
/* gov_ro mods */

.position_dates {
  color: #999;
  display: inline;
}

.gov_name {
  font-size: 15px;
}

.gov_name a {
  text-decoration: none;
}

.gov_name a:hover {
  text-decoration: underline;
}

.gov_position, .gov_position_highlighted {
  font-size: 13px;
  color: #333;
  float: right;
  text-align: right;
}

.gov_position_highlighted {
  font-size: 15px;
  color: #000;
  font-weight: bold;
}

.gov_avatar {
  float: left;
  margin-right: 10px;
  width: 22px;
  height: 30px;
}

.gov_position .time_period {
  font-size: 13px;
  color: #999 !important;
}

.gov_position_highlighted .time_period {
  font-size: 13px;
  color: #333;
}

.gov_snippet {
  font-size: 12px;
  color: #999;
}

.gov_person_row td {
  padding-bottom: 10px;
}

/* ------------------------------------------------------------------*/
/* Declarations module */
.search_declarations_panel {
  padding: 5px;
  background-color: #f2f2ff;
  border: solid 1px #dfdffe;
  margin-bottom: 20px;
}

.please_login_panel {
  padding: 5px;
  background-color: #ffffe4;
  border: solid 1px #ffeabe;
  margin-bottom: 10px;
  margin-left: 30px;
  color: #999;
}

.declaration_types_menu {
  text-align: right;
  margin-bottom: 10px;
}

.declaration_snippet {
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 15px;
}

.declaration_source, .declaration_source a {
  color: #009900;
}

.text_highlight_1 {
  color: black;
  border-bottom: 2px dotted #00ba00;
}

.text_highlight_2 {
  color: black;
  border-bottom: 2px dotted #ba0000;
}

.declaration_home_page {
  margin-bottom: 20px;
  margin-top: 15px;
}

.declaration_home_page .content {
  color: black;
}

.declaration_source_home_page {
  display: inline;
}

.banner-partners {
  margin-top: 5px;
  margin-bottom: 15px;
  border: #DDD solid 1px;
}

.follow_on_twitter {
  margin-top: 10px;
}

.social_box {
  padding: 10px 0 10px 10px;
  border: #f3f3f3 1px solid;
  margin-top: 10px;
}

/* ------------------------ person page stuff ------------------------*/

.contact_block {
  padding: 3px 0 5px 5px;
}

.contact_block .address {
  color: #AAA;
  border-bottom: #EEE dashed 1px;
}

.contact_block img {
  margin-right: 5px;
}

/* ----------------------- autocomplete stuff -------------------*/

.ui-corner-all .snippet {
  display: block;
  font-size: 77%;
  margin-bottom: 5px;
  color: #AAA;
  font-weight: normal;
}

.ui-corner-all .thumb {
  float: left;
  margin: 5px;
}

.ui-menu-item {
  background-color: white;
}

#search_form {
  padding:0.2em 0 0.2em 0.2em;
  font-size: 15px;
  width: 220px;
}
.news_type_menu {
  margin: 11px 0 10px 0;
  font-size: 1.1em;
  font-weight: bold;
}

.powered_by {
  text-align: right;
  color: #AAA;
  font-size: 83%;
  margin: -30px 15px 20px 0;
}

.ec_description {
  line-height: 1.6em;
  margin: 15px;
  font-size: 90%;
}

.college_search {
  margin: 10px 0 50px 0;
  text-align: center;
  font-size: 18px;
  line-height: 1.5em;
}

.college_search .q {
  font-size: 20px;
  margin-top: 10px;
}

.college_search .submit {
  font-size: 25px;
}

.college_search_button {
  text-align: center;
  padding: 3px;
  border: 1px solid #ffcc33;
  background-color: #ffffEE;
}
.party_cell {
  font-size: 13px;
}

/* ----------------------- electoral college stuff -------------------*/

.add_link_button {
  font-size: 77%;
  cursor: pointer;
  text-decoration: underline;
  color: #000066;
  float:right;

  font: bold 11px "Helvetica Neue", Helvetica, Arial, clean, sans-serif !important;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	display: inline-block;
	color: #000000;
	padding: 5px 10px 5px;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	background: #d4e4f1 url(button_overlay.png) repeat-x scroll 0 0;
	border-style: none;
	text-align: center;
	overflow: visible;
}

.add_link_button:hover,
.add_link_button:focus {
	text-decoration: underline;
}

.add_link_form {
  margin: 5px 0 10px 0;
  background-color: #ffffd7;
  padding: 15px;
}

.add_link_form #link_input {
  width: 350px;
  font-size: 16px;
  padding:0.2em 0 0.2em 0.2em;
}

.add_link_form #submit_button {
  font-size: 20px;
}

.add_link_form #link_add_message {
  text-align: center;
  margin: 10px;
}

.ugc_link_status {
  margin: 4px 0 0 0;
  font-family: Helvetica, sans-serif;
  color: #cccccc;
}

.ugc_score {
  font-size: 15px;
  margin: -7px 0 -4px 0;
}

.ugc_source {
  color: #990099;
  font-size: 13px;
}

.ugc_link_status .comments {
  color: #9999ff;
}


/* --------------------------- pretty button ---------------*/
.button, .button span {
	display: inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.button {
	line-height:1.6em;
	position:relative;
	outline: none;
	overflow: visible; /* removes extra side padding in IE */
	cursor: pointer;
	border: 1px solid #999;/* IE */
	border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
	border-bottom:rgba(0, 0, 0, .4) 1px solid;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .1) 0%,
		rgba(0, 0, 0, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(0, 0, 0, .1)),
		to(rgba(255, 255, 255, .1))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
	-moz-user-select: none;
	-webkit-user-select:none;
	-khtml-user-select: none;
	user-select: none;
	margin-bottom:10px;
}
.button.full, .button.full span {
	display: block;
}
.button:hover, .button.hover {
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .2) 0%,
		rgba(255, 255, 255, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(255, 255, 255, .1)),
		to(rgba(255, 255, 255, .2))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')"; /* IE8 */
}
.button:active, .button.active {
	top:1px;
}
.button span {
	position: relative;
	color:#fff;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
	border-top: rgba(255, 255, 255, .2) 1px solid;
	padding:0.6em 1.3em;
	line-height:1em;
	text-decoration:none;
	text-align:center;
	white-space: nowrap;
}
.button.red {
	background-color: #e62727;
}
.button.orange {
	background-color: #ff5c00;
}
.button.green {
	background-color: #91bd09;
}
.button.blue {
	background-color: #4595c2;
}

.supporters {
  text-align: center;
}
.supporters .number {
  font-weight: bold;
}

.rc_2012_cat {
  font-weight: bold;
  display: inline;
}

.rc_2012_src {
  display:inline;
  margin-left: 10px;
}

.polling_search_form {
  margin: 10px 0 15px 0;
  font-size: 18px;
  background-color: #ffffcc;
  padding: 10px;
}

.polling_search_form #q {
  width: 250px;
}

.polling_search_form #cauta {
  font-size: 20px;
}

#sv {
  margin-top: 10px;
}

#map_message {
  width: 680px;
  height: 20px;
  font-size: 14px;
  color: #666666;
}

#permalink {
  color: #999;
  width: 500px;
  margin-top: 20px;
  outline: none;
}

.sv_description {
  margin-bottom: 15px;
}
.infowindow_title {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
}
.infowindow_addr {
  font-style: italic;
  color: #999;
  margin-bottom: 5px;
}
#polling_stations_source a {
  padding: 5px;
  color: #AAA;
}

#polling_stations_source a:hover {
  padding: 5px;
  color: blue;
}

.sv_description .search_hl {
  color: darkred;
}

.institution, .address {
  color: #999999;
  font-size: 77%;
}
.polling_title {
  font-size: 105%;
  color: blue;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}