body {
  font-size: 0.9em;
  line-height: 1.4em;
  font-family: Georgia;
}
#ytcontrols {
  font-size: 0.9em;
  line-height: 1.4em;
  font-family: Georgia;
  text-align: right;
}
#playerwrapper {
  border: 2px solid #444444;
}
.blacktext {
  color: black;
}
.red {
  color: #880000;
}
.green {
  color: #008800;
}
.brightred {
  color: #DD0000;
}
.brightgreen {
  color: #00DD00;
}
.gray,
.gray a {
  color: #999999;
}
.light_gray,
.light_gray a {
  color: #CCC;
}
.dark_gray {
  color: #555;
}
.black {
  color: #000000;
}
.underline {
  border-bottom: 2px dotted #ba0000;
}
#parties_table td {
  padding: 8px;
}
.small {
  font-size: 0.8em;
}
.medium {
  font-size: 0.9em;
}
.big {
  font-size: 1.2em;
}
.menu {
  padding: 8px;
  background-color: #F6F6F6;
  margin: 0;
  font-size: 1.1em;
}
.menu td {
  vertical-align: top;
}
.menu li {
  display: inline;
  background-color: #EEE;
  padding: 5px;
  margin-right: 2px;
  font-weight: bold;
}
.menu .submenu {
  font-size: 14px;
  margin-bottom: 3px;
}
.menu a {
  color: #213f9a;
}
.noprint {
}
.warning {
  width: 800px;
  padding: 10px;
  background: #ffcc66;
  border: 1px #996699;
}
.infotext, .plaintext {
  width: 800px;
  padding: 10px;
  color: #666;
}
.plaintext {
  color: #000;
  font-size: 1.1em;
  line-height: 1.5em;
}
.header {
  font-weight: bold;
  background: #EEEEEE;
  font-size: 1.1em;
}
#q, #declarations_q {
  font-size: 15px;
  padding: 2px;
}
#cauta {
  font-size: 15px;
}

.bigtable .header td {
  padding: 10px;
}
.bigtable td {
  padding: 3px;
}
.title {
  font-weight: bold;
  font-size: 23px;
  padding: 10px;
}
.info {
  font-size: 1.1em;
}
.moreinfolist li {
  padding:5px;
}
.numedeputattitlu {
  font-size: 20px;
  font-weight: bold;
  display: inline;
}
.separator {
  background: #EEE;
  height: 1px;
}

.identity {
  padding: 2px;
}

.identity_li {
  padding: 0px;
  margin-left: -20px;
  padding-top: 5px;
}
.identity_ul {
}
.identity_img {
  text-align: center;
}

.top_bar {
  padding: 8px;
  padding-left: 12px;
  margin-top: 10px;
  background: #F4F4F4;
  border-top-style: solid;
  border-top-color: #DDD;
  border-top-width: 1px;
}

.module {
  font-size: 1.0em;
  background: #FFF;
  border: 1px;
  padding: 1px;
}
.module .moduletitle {
  font-size: 1.2em;
  font-weight: bold;
  padding: 2px;
  color: #369;
  background: #FFF;
  border-bottom-style: solid;
  border-bottom-color: #9CF;
  border-bottom-width: 1px;
}
.module .modulecontent {
  padding: 10px;
  padding-left: 20px;
}

.sidemoduletitle {
  font-size: 1.1em;
  font-weight: bold;
  padding: 2px;
  color: #369;
  border-bottom-style: solid;
  border-bottom-color: #9CF;
  border-bottom-width: 1px;
  padding-top: 12px;
}

.module_expand_link {
  font-size: 0.8em;
  text-align: right;
  margin-right: 20px;
}

.module_expand_link a, .module_expand_link a:visited{
  color: #888;
}

.personrow, .personrow a {
  font-weight: bold;
  text-decoration: none;
  color: #770000;
}
.winnerrow, .winnerrow a {
  font-weight: bold;
  text-decoration: none;
  color: #007700;
}
.othersrow a {
  color: #693;
  text-decoration: none;
}
.othersrow a:hover {
	text-decoration: underline;
}
.minoritati {
  display: none;
}
.show {
}
.euro_party_info {
  padding-left: 15px;
  padding-bottom: -5px;
  color: #555;
}

.searchresult {
  padding:10px;
}
.searchresult .name {
  font-size:1.2em;
}
.what {
  display:inline;
}
.searchresult .snippet {
  color:#333;
}
.searchresult .thumb {
  float: left;
  margin-right: 8px;
  width: 22px;
  height: 30px;
}

.submenu {
  font-size: 16px;
  margin-bottom: 15px;
}
.submenu a, .submenu a.visited {
  color: #00C;
}
.submenu a.selected {
  color: #000;
  text-decoration: none;
}
.right {
  text-align: right;
}
#suggest_photo_input {
 width: 90%;
}

/* ----------------------------------------------------- */
/* Classes for the news on the front page. */
.recent_news {
  line-height: 1em;
  font-size: 16px;
}

.recent_news_block {
  font-size: 12px;
  margin-bottom: 10px;
}

.recent_news_block .recent_news_title {
  font-size: 14px;
  line-height: 1.3em;
  display: inline;
}

.recent_news_block .mentions_block {
  margin-top: 2px;
}

.news_list_mention {
  background: #F3F3F3;
  color: #999;
  display: inline-block;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
  line-height: 1.1em;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.news_list_mention a {
  text-decoration: none;
  color: #999;
}

.invisible_link a {
  text-decoration: none;
  color: black;
}

.recent_news .container {
  border: solid 1px #ddd;
  padding: 4px;
}

/* Icon classes. */
.up_arrow {
  background: #fff url('images/icons.png') no-repeat left center;
  width: 11px;
  height: 11px;
  background-position: -1px -1px
}

.down_arrow {
  background: #fff url('images/icons.png') no-repeat left center;
  width: 11px;
  height: 11px;
  background-position: -1px -12px
}
.black_link, .black_link a {
  color: #000 !important;
  text-decoration: none;
}

.black_link a:hover {
	text-decoration: underline;
}

/* The login bar. */
.login_bar {
  font-size: 80%;
}

/** The beliefs system. */
.belief_table {
	font-size: 77%;
	font-weight: bold;
	color: white;
	height: 10px;
}

.belief_total {
  color: black;
  font-weight: bold;
  background-color: #ddd;
  font-size: 77%;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.home_blog_post {
	line-height:normal;
	padding-bottom: 5px;
}

.home_blog_post_comments {
  white-space: nowrap;
}

.green_link a {
	color: #669933;
	text-decoration: none;
}

.green_link a:hover {
	text-decoration: underline;
}

.smalltitle {
	margin-bottom: 0px;
}

.tag_description {
  margin: 10px;
  border: solid 1px #99DD99;
  background: #EEFFEE;
  margin-left: 20px;
  padding: 10px;
}
.score_card_description {
  font-size: 12px;
  color: #999;
  background-color: #f4f4f4;
  margin: -3px 24px 20px 20px;
  padding: 8px;

}

/* -------------------------------------------------------------- */
/* Styles for displaying things under the user's profile -------- */

.my_account {
  margin-top: 20px;
  line-height: 1.6em;
}

.my_account .section {
  margin-bottom: 30px;
}

.my_account .title {
  font-weight: bold;
  border-bottom: solid 1px #EEE;
  font-size: 16px;
  padding-bottom: 4px;
}

.my_account .content {
  margin-left: 20px;
  font-size: 14px;
}

.my_account .example {
  font-size: 14px;
  color: #CCC;
}

.my_account .form_field {
  font-size: 16px;
  margin-bottom: -5px;
}

.my_account td {
  font-size: 14px;
  vertical-align: top;
}

.my_account input {
  font-size: 13px;
  padding: 3px;
}

.my_account #recent_people {
  float: right;
  height: 200px;
  width: 300px;
  font-size: 13px;
  padding: 10px;
}

/* ------------------------------------------------------------------*/
/* Some styles for the cdep/senat mods. */

.parl_presence_number {
  display: inline;
  font-weight: bold;
  background-color: #fff6c3;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 9px;
  font-size: 19px;
}

.parl_summary_panel {
  float:right;
  text-align: right;
  margin: 5px 0 10px 20px;
}

/* ------------------------------------------------------------------*/
/* gov_ro mods */

.position_dates {
  color: #999;
  display: inline;
}

.gov_name {
  font-size: 15px;
}

.gov_position, .gov_position_highlighted {
  font-size: 13px;
  color: #333;
  float: right;
  text-align: right;
}

.gov_position_highlighted {
  font-size: 15px;
  color: #000;
  font-weight: bold;
}

.gov_avatar {
  float: left;
  margin-right: 10px;
  width: 22px;
  height: 30px;
}

.gov_position .time_period {
  font-size: 13px;
  color: #CCC !important;
}

.gov_position_highlighted .time_period {
  font-size: 13px;
  color: #333;
}

.gov_snippet {
  font-size: 12px;
  color: #999;
}

.gov_person_row td {
  padding-bottom: 10px;
}

/* ------------------------------------------------------------------*/
/* Declarations module */
.search_declarations_panel {
  padding: 5px;
  background-color: #f2f2ff;
  border: solid 1px #dfdffe;
  margin-bottom: 20px;
}

.please_login_panel {
  padding: 5px;
  background-color: #ffffe4;
  border: solid 1px #ffeabe;
  margin-bottom: 10px;
  margin-left: 30px;
  color: #999;
}

.declaration_types_menu {
  text-align: right;
  margin-bottom: 10px;
}

.declaration_snippet {
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 15px;
}

.declaration_source, .declaration_source a {
  color: #009900;
}

.text_highlight_1 {
  color: black;
  border-bottom: 2px dotted #00ba00;
}

.text_highlight_2 {
  color: black;
  border-bottom: 2px dotted #ba0000;
}

.declaration_home_page {
  margin-bottom: 20px;
  margin-top: 15px;
}

.declaration_home_page .content {
  color: black;
}

.declaration_source_home_page {
  display: inline;
}

.banner-partners {
  margin-top: 5px;
  margin-bottom: 15px;
  border: #DDD solid 1px;
}

.follow_on_twitter {
  margin-top: 10px;
}

.social_box {
  padding: 10px 0 10px 10px;
  border: #f3f3f3 1px solid;
  margin-top: 10px;
}

/* ------------------------ person page stuff ------------------------*/

.contact_block {
  padding: 3px 0 5px 5px;
}

.contact_block .address {
  color: #AAA;
  border-bottom: #EEE dashed 1px;
}

.contact_block img {
  margin-right: 5px;
}
